<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="IPLDashboardAppTestSuite" parallel="classes" thread-count="2">
    <test name="HomeAndTeamPageTest" >
        <classes>
            <class name="HomePageTest" />
            <class name="TeamPageTest" />
        </classes>
    </test>
</suite>